aws/ssh
gce/ssh
ssh
ssh/
aws/manifest.yml
gce/manifest.yml
aws/cf-manifest.yml
gce/cf-manifest.yml
gce/account.json
*.tfstate
*.tfstate.backup
gce/.terraform
aws/.terraform
*smoke_test*.json
manifests/templates/outputs/terraform-outputs-*.yml
scripts/terraform-outputs-*.sh

